In [1]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency

In [2]:
df_ab = pd.read_csv('./b_a_test_cvr_file.csv')

In [3]:
df_ab.dropna(subset=['area_name'])

,area_name,variant,session_count,converts,Non-converts,CVR
0,Jahra - Saad Al Abdullah,Variation1,114151,5630,108521,4.93%
1,Jahra - Saad Al Abdullah,Control,108131,5502,102629,5.09%
2,Salmiya,Variation1,107102,7829,99273,7.31%
3,Salmiya,Control,106893,8383,98510,7.84%
4,Sabah Al-Salem,Control,86376,6388,79988,7.40%
...,...,...,...,...,...,...
272,Sheikh Saad Al Abdullah Airport,Control,129,10,119,7.75%
273,Wafra residential,Variation1,101,3,98,2.97%
274,South Abdullah Al Mubarak,Control,33,1,32,3.03%
275,South Abdullah Al Mubarak,Variation1,26,0,26,0.00%
276,Talabat Island,Variation1,1,0,1,0.00%

In [4]:
var=df_ab['variant'].drop_duplicates()
print(var)

0    Variation1
1       Control
Name: variant, dtype: object

KeyError: '[5] not found in axis'

In [5]:
myorder = [ 1]
var = [var]
print(var)

[0    Variation1
1       Control
Name: variant, dtype: object]

In [6]:
df_ab=df_ab.sort_values(['session_count','area_name','variant'],ascending=False)
df_ab.head()

,area_name,variant,session_count,converts,Non-converts,CVR
0,Jahra - Saad Al Abdullah,Variation1,114151,5630,108521,4.93%
1,Jahra - Saad Al Abdullah,Control,108131,5502,102629,5.09%
2,Salmiya,Variation1,107102,7829,99273,7.31%
3,Salmiya,Control,106893,8383,98510,7.84%
4,Sabah Al-Salem,Control,86376,6388,79988,7.40%

In [7]:
df_ab.rename(columns = {'Non-converts':'n_converts'}, inplace = True)

In [8]:
#t=np.array([])
area=df_ab['area_name'].drop_duplicates()
area=area.dropna()
area
#for x in area:
   # for y in var:
      # print(x,df_ab['variant'].loc[df_ab['variant']==y])
     # print(x,df_ab.converts.loc[df_ab['variant']=='Control'], df_ab.n_converts.loc[df_ab['variant']==y])
     #   t.append(x)
      #  t= np.vstack(np.array([[df_ab.converts.loc[df_ab['variant']=='Control'],df_ab.n_converts.loc[df_ab['variant']=='Control']], [df_ab.converts.loc[df_ab['variant']==y] ,df_ab.n_converts.loc[df_ab['variant']==y]]]))
      #  print(t)

0             Jahra - Saad Al Abdullah
2                              Salmiya
4                       Sabah Al-Salem
6                                Salwa
7                       Jaber Al Ahmad
                    ...
267                          Nuwaiseeb
270                  Wafra residential
271    Sheikh Saad Al Abdullah Airport
274          South Abdullah Al Mubarak
276                     Talabat Island
Name: area_name, Length: 138, dtype: object

In [9]:
df_ab.head(50)

,area_name,variant,session_count,converts,n_converts,CVR
0,Jahra - Saad Al Abdullah,Variation1,114151,5630,108521,4.93%
1,Jahra - Saad Al Abdullah,Control,108131,5502,102629,5.09%
2,Salmiya,Variation1,107102,7829,99273,7.31%
3,Salmiya,Control,106893,8383,98510,7.84%
4,Sabah Al-Salem,Control,86376,6388,79988,7.40%
5,Sabah Al-Salem,Variation1,86242,6272,79970,7.27%
6,Salwa,Variation1,78406,5156,73250,6.58%
7,Jaber Al Ahmad,Control,77558,3760,73798,4.85%
8,Jaber Al Ahmad,Variation1,75961,3646,72315,4.80%
9,Salwa,Control,75217,5285,69932,7.03%
10,Abdullah Al-Mubarak - West Jeleeb,Variation1,71752,3593,68159,5.01%
11,Abdullah Al-Mubarak - West Jeleeb,Control,70203,3209,66994,4.57%
12,Jabriya,Control,61811,5792,56019,9.37%
13,Jabriya,Variation1,61041,5727,55314,9.38%
14,Sabahiya,Variation1,56186,3060,53126,5.45%
15,Sabahiya,Control,55858,3060,52798,5.48%
16,Ardhiya,Variation1,52039,3760,48279,7.23%
17,Ardhiya,Control,51286,3693,47593,7.20%
18,Hawally,Control,50596,3367,47229,6.65%
19,Mubarak Al-Kabir,Variation1,50465,3721,46744,7.37%
20,Ferdous,Variation1,49218,2941,46277,5.98%
21,Mubarak Al-Kabir,Control,48174,3942,44232,8.18%
22,Ferdous,Control,47819,2769,45050,5.79%
23,Hawally,Variation1,47257,2840,44417,6.01%
24,Adan,Control,47224,3683,43541,7.80%
25,Adan,Variation1,47051,3391,43660,7.21%
26,Jaber Al Ali,Variation1,46965,3282,43683,6.99%
27,Abu Ftaira,Variation1,46779,3844,42935,8.22%
28,Rumaithiya,Variation1,46451,3674,42777,7.91%
29,Abu Ftaira,Control,46147,3736,42411,8.10%
30,Jaber Al Ali,Control,44755,3191,41564,7.13%
31,Rumaithiya,Control,43347,3662,39685,8.45%
32,Al-Qusour,Control,42765,3178,39587,7.43%
33,Sabah Al-Nasser,Variation1,42726,2767,39959,6.48%
34,Mangaf,Variation1,42537,2713,39824,6.38%
35,Al-Qusour,Variation1,42140,3025,39115,7.18%
36,Mangaf,Control,41637,2965,38672,7.12%
37,Sabah Al-Nasser,Control,41576,2971,38605,7.15%
38,Andalous,Variation1,38740,2502,36238,6.46%
39,Andalous,Control,38616,2611,36005,6.76%
40,Bayan,Variation1,37213,2813,34400,7.56%
41,Fnaitess,Control,36910,2859,34051,7.75%
42,Bayan,Control,36239,3079,33160,8.50%
43,Al-Qurain,Control,35902,2701,33201,7.52%
44,Zahra,Control,35749,2308,33441,6.46%
45,Al-Qurain,Variation1,35701,2702,32999,7.57%
46,Jahra - Qasr,Variation1,35642,1744,33898,4.89%
47,Fnaitess,Variation1,35635,2835,32800,7.96%
48,Zahra,Variation1,35276,2205,33071,6.25%
49,Ashbeliah,Control,33912,2284,31628,6.74%

In [37]:
T1 = np.array([[a.converts.loc[a.variant=='Control'], a.n_converts.loc[a.variant=='Control']], [a.converts.loc[a.variant==v], a.n_converts.loc[a.variant==v]]])
T1

C:\Users\elijah.paul\AppData\Local\Temp\ipykernel_13324\3859508673.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  T1 = np.array([[a.converts.loc[a.variant=='Control'], a.n_converts.loc[a.variant=='Control']], [a.converts.loc[a.variant==v], a.n_converts.loc[a.variant==v]]])

array([[1    5502
        Name: converts, dtype: int64, 1    102629
                                      Name: n_converts, dtype: int64],
       [0    5630
        1    5502
        Name: converts, dtype: int64, 0    108521
                                      1    102629
                                      Name: n_converts, dtype: int64]],
      dtype=object)

In [42]:
var

[0    Variation1
 1       Control
 Name: variant, dtype: object]

In [10]:
p_values = []
for ar in area:
    a=df_ab[df_ab['area_name']==ar]
    p_values=np.append(p_values,ar)
    T = np.array([[a.converts.loc[a.variant=='Control'], a.n_converts.loc[a.variant=='Control']], [a.converts.loc[a.variant=='Variation1'], a.n_converts.loc[a.variant=='Variation1']]])
    p1 = scipy.stats.chi2_contingency(T,correction=False)[1]
    p_values=np.append(p_values,p1)
      #  p_values.append(scipy.stats.chi2_contingency(T,correction=False)[1])
#table = list(ar, p_values)
#df2 = pd.DataFrame(table, columns=['test_name', 'p_value'])
        #df['kpi_label'] = column_name

C:\Users\elijah.paul\AppData\Local\Temp\ipykernel_18588\1143880354.py:5: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  T = np.array([[a.converts.loc[a.variant=='Control'], a.n_converts.loc[a.variant=='Control']], [a.converts.loc[a.variant=='Variation1'], a.n_converts.loc[a.variant=='Variation1']]])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [11]:

p_values

array(['Jahra - Saad Al Abdullah', '0.09147221496832754', 'Salmiya',
       '3.2368420732502026e-06', 'Sabah Al-Salem', '0.3269653346273659',
       'Salwa', '0.00045565477285427233', 'Jaber Al Ahmad',
       '0.6597710372131651', 'Abdullah Al-Mubarak - West Jeleeb',
       '0.00011829424107916458', 'Jabriya', '0.9438365104867813',
       'Sabahiya', '0.8137916330890145', 'Ardhiya', '0.878759475350681',
       'Hawally', '3.526886095506677e-05', 'Mubarak Al-Kabir',
       '2.0631801001407093e-06', 'Ferdous', '0.22116471682712308', 'Adan',
       '0.000561905525645992', 'Jaber Al Ali', '0.4021203805311486',
       'Abu Ftaira', '0.49869356664427633', 'Rumaithiya',
       '0.003228741877347287', 'Al-Qusour', '0.15689237305922532',
       'Sabah Al-Nasser', '0.00011317404502661605', 'Mangaf',
       '1.7259518678283258e-05', 'Andalous', '0.08988674870212124',
       'Bayan', '2.938798633646642e-06', 'Fnaitess', '0.2935473184857737',
       'Al-Qurain', '0.8190676153718583', 'Zahra', '0.26182303669451545',
       'Jahra - Qasr', '0.019333757682121422', 'Ashbeliah',
       '0.9293670407981076', 'Jahra - Nasseem', '0.03907998751883881',
       'Jahra - Taima', '0.8215927045397574', 'Salam',
       '0.7770281801012316', 'Jahra - Oyoun', '0.2225371779042992',
       'Riqqa', '0.6382333928914693', 'West Abdullah Al Mubarak',
       '0.033935151017594284', 'Fahad Al Ahmed', '0.006879108797383401',
       'Egaila', '0.0005001639780672017', 'Dhaher',
       '0.009409882414301669', 'Jahra - Sulaibiya Residential',
       '0.9622908251062912', 'Hadiya', '0.5050191018121963',
       'Jahra - Waha', '0.0059760410235399275', 'Mahboula',
       '0.10613403177841345', 'Fahaheel', '0.001089669844153546', 'Surra',
       '0.10888259982616001', 'Mishrif', '0.7959676295288904', 'Hitteen',
       '0.0047608210979124795', 'Jahra Qairawan - South Doha',
       '0.0372331264243618', 'Qortuba', '3.8948856804291957e-08',
       'Khaitan', '0.07581154980203071', 'Maidan Hawally',
       '0.7516508761312055', 'Farwaniya', '0.010629296407069727',
       'Jahra - Jahra Area', '0.002916559035019222', 'Fintas',
       '0.22888136424431596', 'North West Sulaibikhat',
       '0.05120895800264264', 'Rehab', '0.15531229420501244',
       'Al Masayel', '0.0007191940032905007', 'Al-Ahmadi',
       '0.7578818204676374', 'Jahra - Al Naeem', '0.9026480466138201',
       'Shuhada', '0.12738670433168311', 'Rawda',
       '2.2392937408560462e-05', 'Sulaibikhat', '0.029314046562189208',
       'Rabiya', '0.2681233018781486', 'Sharq', '0.966269415883066',
       'Omariya', '0.2928529466454446', 'Kaifan',
       '0.00010758792672159146', 'Doha', '1.97532618248815e-05',
       'Jeleeb Al-Shuyoukh', '0.6063122311427622', 'Siddiq',
       '0.1754715204080505', 'Qadsiya', '0.5766414890662916', 'Shaab',
       '0.0006170689663546912', 'Mubarak Al-Abdullah - West Mishref',
       '0.9009333477386657', 'Nahda', '0.24160038247532295', 'Abu Halifa',
       '0.32253816140492364', 'Dasma', '0.8593185541874457', 'Yarmouk',
       '0.6365494783376784', 'Faiha', '4.6848199753969135e-06', 'Daiya',
       '0.8295509135936524', 'Bneid Al Qar', '0.09812482957371785',
       'Khaldiya', '0.17057895142577784', 'Adailiya',
       '0.3242858529583422', 'Qibla', '0.050705907543010034',
       'Abdullah Al-Salem', '0.09456111808694607', 'Ghornata',
       '0.929325083449803', 'Rai', '0.3589503499938197', 'Shamiya',
       '0.02772517308571595', 'Reggai', '0.056539179629341706', 'Mirqab',
       '0.483431328411588', 'Nuzha', '0.22956427160504675',
       'Ali Sabah Al-Salem - Umm Al Hayman', '0.5751724986000417',
       'Shuwaikh Medical', '0.4382881685063935', 'Mansouriya',
       '0.04597362978788977', 'Ardhiya 4', '0.014663683098124158',
       'Ministries Zone', '0.5942601522766493', 'Khairan',
       '0.99524865685618', 'West Abu Fetera Small Indust',
       '0.07083318996637797', 'Shuwaikh Industrial 1',
       '0.18205528614062236', 'Ardiya Small Industrial',
       '0.35801040241227755', 'Messila', '0.003514868537610452',
       'Shuwaikh Educational', '0.22388593602813991',
       'Shuwaikh Residential', '0.009281007106413698',
       'Shuwaikh Industrial 2', '0.38737037671523933', 'Dhajeej',
       '0.853652703595847', 'Airport', '0.29651596816940207', 'Salhiya',
       '0.9778005802103186', 'Dasman', '0.5648208063052287',
       'Shuaiba Port', '0.07147821483488835', 'Shuwaikh Industrial 3',
       '0.10491492423567916', 'Sabah Al Ahmad 1', '0.9502882615570688',
       'Sabah Al Ahmad 5', '0.20479135556466702', 'Abu Hasaniya',
       '0.10164672304476284', 'Mubarakiya Camps', '0.5813981359004823',
       'Ardiya Storage Zone', '0.04782449562290059', 'Sabah Al Ahmad 4',
       '0.3004692290690783', 'Sabah Al Ahmad 3', '0.7619296430479907',
       'Shuwaikh Administrative', '0.8261368234472747',
       'Sabah Al Ahmad 2', '0.707389371316737', 'Al-Bedae',
       '0.0141367005462088', 'Jahra - Kabd', '0.1120124790039491',
       'Jahra - Sulaibiya Industrial 2', '0.46294852266519126',
       'Wafra farms', '0.18993754566982368', 'Jahra - Sulaibiya',
       '0.3250540496459806', 'South Sabahiya', '0.07356923556653991',
       'Murouj', '0.27159493149310043', 'Sabhan Industrial',
       '0.01507991232330377', 'Jahra - Amgarah Industrial',
       '0.9215112797342142', 'Magwa', '0.7547864051055942',
       'Kuwait Free Trade Zone', '0.21840752391752585',
       'Sabah Al Ahmad Marine City', '0.38926495782817494', 'Kuwait City',
       '0.411407339048377', 'South Wista', '0.1801006213481125',
       'Bnaider', '0.15079127618422672', 'Zour', '0.9897516741506496',
       'Mina Abdullah', '0.6390163707245105', 'Wista',
       '0.8242048756528643', 'Jahra - Sulaibiya Industrial 1',
       '0.8921575042962397', "Al-Julaia'a", '0.5806253735021601',
       'Nuwaiseeb', '0.3921295035088611', 'Wafra residential',
       '0.33053295386370446', 'Sheikh Saad Al Abdullah Airport',
       '0.8361946226430189', 'South Abdullah Al Mubarak',
       '0.3706563446315079', 'Talabat Island'], dtype='<U34')

In [17]:
#appending 0s to make the array reshapable. Ideally delete the last entry [0 implies significance.]
for i in range(1):
    p_values=p_values=np.append(p_values,0)

In [13]:
p_values

array(['Jahra - Saad Al Abdullah', '0.09147221496832754', 'Salmiya',
       '3.2368420732502026e-06', 'Sabah Al-Salem', '0.3269653346273659',
       'Salwa', '0.00045565477285427233', 'Jaber Al Ahmad',
       '0.6597710372131651', 'Abdullah Al-Mubarak - West Jeleeb',
       '0.00011829424107916458', 'Jabriya', '0.9438365104867813',
       'Sabahiya', '0.8137916330890145', 'Ardhiya', '0.878759475350681',
       'Hawally', '3.526886095506677e-05', 'Mubarak Al-Kabir',
       '2.0631801001407093e-06', 'Ferdous', '0.22116471682712308', 'Adan',
       '0.000561905525645992', 'Jaber Al Ali', '0.4021203805311486',
       'Abu Ftaira', '0.49869356664427633', 'Rumaithiya',
       '0.003228741877347287', 'Al-Qusour', '0.15689237305922532',
       'Sabah Al-Nasser', '0.00011317404502661605', 'Mangaf',
       '1.7259518678283258e-05', 'Andalous', '0.08988674870212124',
       'Bayan', '2.938798633646642e-06', 'Fnaitess', '0.2935473184857737',
       'Al-Qurain', '0.8190676153718583', 'Zahra', '0.26182303669451545',
       'Jahra - Qasr', '0.019333757682121422', 'Ashbeliah',
       '0.9293670407981076', 'Jahra - Nasseem', '0.03907998751883881',
       'Jahra - Taima', '0.8215927045397574', 'Salam',
       '0.7770281801012316', 'Jahra - Oyoun', '0.2225371779042992',
       'Riqqa', '0.6382333928914693', 'West Abdullah Al Mubarak',
       '0.033935151017594284', 'Fahad Al Ahmed', '0.006879108797383401',
       'Egaila', '0.0005001639780672017', 'Dhaher',
       '0.009409882414301669', 'Jahra - Sulaibiya Residential',
       '0.9622908251062912', 'Hadiya', '0.5050191018121963',
       'Jahra - Waha', '0.0059760410235399275', 'Mahboula',
       '0.10613403177841345', 'Fahaheel', '0.001089669844153546', 'Surra',
       '0.10888259982616001', 'Mishrif', '0.7959676295288904', 'Hitteen',
       '0.0047608210979124795', 'Jahra Qairawan - South Doha',
       '0.0372331264243618', 'Qortuba', '3.8948856804291957e-08',
       'Khaitan', '0.07581154980203071', 'Maidan Hawally',
       '0.7516508761312055', 'Farwaniya', '0.010629296407069727',
       'Jahra - Jahra Area', '0.002916559035019222', 'Fintas',
       '0.22888136424431596', 'North West Sulaibikhat',
       '0.05120895800264264', 'Rehab', '0.15531229420501244',
       'Al Masayel', '0.0007191940032905007', 'Al-Ahmadi',
       '0.7578818204676374', 'Jahra - Al Naeem', '0.9026480466138201',
       'Shuhada', '0.12738670433168311', 'Rawda',
       '2.2392937408560462e-05', 'Sulaibikhat', '0.029314046562189208',
       'Rabiya', '0.2681233018781486', 'Sharq', '0.966269415883066',
       'Omariya', '0.2928529466454446', 'Kaifan',
       '0.00010758792672159146', 'Doha', '1.97532618248815e-05',
       'Jeleeb Al-Shuyoukh', '0.6063122311427622', 'Siddiq',
       '0.1754715204080505', 'Qadsiya', '0.5766414890662916', 'Shaab',
       '0.0006170689663546912', 'Mubarak Al-Abdullah - West Mishref',
       '0.9009333477386657', 'Nahda', '0.24160038247532295', 'Abu Halifa',
       '0.32253816140492364', 'Dasma', '0.8593185541874457', 'Yarmouk',
       '0.6365494783376784', 'Faiha', '4.6848199753969135e-06', 'Daiya',
       '0.8295509135936524', 'Bneid Al Qar', '0.09812482957371785',
       'Khaldiya', '0.17057895142577784', 'Adailiya',
       '0.3242858529583422', 'Qibla', '0.050705907543010034',
       'Abdullah Al-Salem', '0.09456111808694607', 'Ghornata',
       '0.929325083449803', 'Rai', '0.3589503499938197', 'Shamiya',
       '0.02772517308571595', 'Reggai', '0.056539179629341706', 'Mirqab',
       '0.483431328411588', 'Nuzha', '0.22956427160504675',
       'Ali Sabah Al-Salem - Umm Al Hayman', '0.5751724986000417',
       'Shuwaikh Medical', '0.4382881685063935', 'Mansouriya',
       '0.04597362978788977', 'Ardhiya 4', '0.014663683098124158',
       'Ministries Zone', '0.5942601522766493', 'Khairan',
       '0.99524865685618', 'West Abu Fetera Small Indust',
       '0.07083318996637797', 'Shuwaikh Industrial 1',
       '0.18205528614062236', 'Ardiya Small Industrial',
       '0.35801040241227755', 'Messila', '0.003514868537610452',
       'Shuwaikh Educational', '0.22388593602813991',
       'Shuwaikh Residential', '0.009281007106413698',
       'Shuwaikh Industrial 2', '0.38737037671523933', 'Dhajeej',
       '0.853652703595847', 'Airport', '0.29651596816940207', 'Salhiya',
       '0.9778005802103186', 'Dasman', '0.5648208063052287',
       'Shuaiba Port', '0.07147821483488835', 'Shuwaikh Industrial 3',
       '0.10491492423567916', 'Sabah Al Ahmad 1', '0.9502882615570688',
       'Sabah Al Ahmad 5', '0.20479135556466702', 'Abu Hasaniya',
       '0.10164672304476284', 'Mubarakiya Camps', '0.5813981359004823',
       'Ardiya Storage Zone', '0.04782449562290059', 'Sabah Al Ahmad 4',
       '0.3004692290690783', 'Sabah Al Ahmad 3', '0.7619296430479907',
       'Shuwaikh Administrative', '0.8261368234472747',
       'Sabah Al Ahmad 2', '0.707389371316737', 'Al-Bedae',
       '0.0141367005462088', 'Jahra - Kabd', '0.1120124790039491',
       'Jahra - Sulaibiya Industrial 2', '0.46294852266519126',
       'Wafra farms', '0.18993754566982368', 'Jahra - Sulaibiya',
       '0.3250540496459806', 'South Sabahiya', '0.07356923556653991',
       'Murouj', '0.27159493149310043', 'Sabhan Industrial',
       '0.01507991232330377', 'Jahra - Amgarah Industrial',
       '0.9215112797342142', 'Magwa', '0.7547864051055942',
       'Kuwait Free Trade Zone', '0.21840752391752585',
       'Sabah Al Ahmad Marine City', '0.38926495782817494', 'Kuwait City',
       '0.411407339048377', 'South Wista', '0.1801006213481125',
       'Bnaider', '0.15079127618422672', 'Zour', '0.9897516741506496',
       'Mina Abdullah', '0.6390163707245105', 'Wista',
       '0.8242048756528643', 'Jahra - Sulaibiya Industrial 1',
       '0.8921575042962397', "Al-Julaia'a", '0.5806253735021601',
       'Nuwaiseeb', '0.3921295035088611', 'Wafra residential',
       '0.33053295386370446', 'Sheikh Saad Al Abdullah Airport',
       '0.8361946226430189', 'South Abdullah Al Mubarak',
       '0.3706563446315079', 'Talabat Island'], dtype='<U34')

In [15]:
p_values.shape()

TypeError: 'tuple' object is not callable

In [18]:
p_values=p_values.reshape(-1,2)
p_values

array([['Jahra - Saad Al Abdullah', '0.09147221496832754'],
       ['Salmiya', '3.2368420732502026e-06'],
       ['Sabah Al-Salem', '0.3269653346273659'],
       ['Salwa', '0.00045565477285427233'],
       ['Jaber Al Ahmad', '0.6597710372131651'],
       ['Abdullah Al-Mubarak - West Jeleeb', '0.00011829424107916458'],
       ['Jabriya', '0.9438365104867813'],
       ['Sabahiya', '0.8137916330890145'],
       ['Ardhiya', '0.878759475350681'],
       ['Hawally', '3.526886095506677e-05'],
       ['Mubarak Al-Kabir', '2.0631801001407093e-06'],
       ['Ferdous', '0.22116471682712308'],
       ['Adan', '0.000561905525645992'],
       ['Jaber Al Ali', '0.4021203805311486'],
       ['Abu Ftaira', '0.49869356664427633'],
       ['Rumaithiya', '0.003228741877347287'],
       ['Al-Qusour', '0.15689237305922532'],
       ['Sabah Al-Nasser', '0.00011317404502661605'],
       ['Mangaf', '1.7259518678283258e-05'],
       ['Andalous', '0.08988674870212124'],
       ['Bayan', '2.938798633646642e-06'],
       ['Fnaitess', '0.2935473184857737'],
       ['Al-Qurain', '0.8190676153718583'],
       ['Zahra', '0.26182303669451545'],
       ['Jahra - Qasr', '0.019333757682121422'],
       ['Ashbeliah', '0.9293670407981076'],
       ['Jahra - Nasseem', '0.03907998751883881'],
       ['Jahra - Taima', '0.8215927045397574'],
       ['Salam', '0.7770281801012316'],
       ['Jahra - Oyoun', '0.2225371779042992'],
       ['Riqqa', '0.6382333928914693'],
       ['West Abdullah Al Mubarak', '0.033935151017594284'],
       ['Fahad Al Ahmed', '0.006879108797383401'],
       ['Egaila', '0.0005001639780672017'],
       ['Dhaher', '0.009409882414301669'],
       ['Jahra - Sulaibiya Residential', '0.9622908251062912'],
       ['Hadiya', '0.5050191018121963'],
       ['Jahra - Waha', '0.0059760410235399275'],
       ['Mahboula', '0.10613403177841345'],
       ['Fahaheel', '0.001089669844153546'],
       ['Surra', '0.10888259982616001'],
       ['Mishrif', '0.7959676295288904'],
       ['Hitteen', '0.0047608210979124795'],
       ['Jahra Qairawan - South Doha', '0.0372331264243618'],
       ['Qortuba', '3.8948856804291957e-08'],
       ['Khaitan', '0.07581154980203071'],
       ['Maidan Hawally', '0.7516508761312055'],
       ['Farwaniya', '0.010629296407069727'],
       ['Jahra - Jahra Area', '0.002916559035019222'],
       ['Fintas', '0.22888136424431596'],
       ['North West Sulaibikhat', '0.05120895800264264'],
       ['Rehab', '0.15531229420501244'],
       ['Al Masayel', '0.0007191940032905007'],
       ['Al-Ahmadi', '0.7578818204676374'],
       ['Jahra - Al Naeem', '0.9026480466138201'],
       ['Shuhada', '0.12738670433168311'],
       ['Rawda', '2.2392937408560462e-05'],
       ['Sulaibikhat', '0.029314046562189208'],
       ['Rabiya', '0.2681233018781486'],
       ['Sharq', '0.966269415883066'],
       ['Omariya', '0.2928529466454446'],
       ['Kaifan', '0.00010758792672159146'],
       ['Doha', '1.97532618248815e-05'],
       ['Jeleeb Al-Shuyoukh', '0.6063122311427622'],
       ['Siddiq', '0.1754715204080505'],
       ['Qadsiya', '0.5766414890662916'],
       ['Shaab', '0.0006170689663546912'],
       ['Mubarak Al-Abdullah - West Mishref', '0.9009333477386657'],
       ['Nahda', '0.24160038247532295'],
       ['Abu Halifa', '0.32253816140492364'],
       ['Dasma', '0.8593185541874457'],
       ['Yarmouk', '0.6365494783376784'],
       ['Faiha', '4.6848199753969135e-06'],
       ['Daiya', '0.8295509135936524'],
       ['Bneid Al Qar', '0.09812482957371785'],
       ['Khaldiya', '0.17057895142577784'],
       ['Adailiya', '0.3242858529583422'],
       ['Qibla', '0.050705907543010034'],
       ['Abdullah Al-Salem', '0.09456111808694607'],
       ['Ghornata', '0.929325083449803'],
       ['Rai', '0.3589503499938197'],
       ['Shamiya', '0.02772517308571595'],
       ['Reggai', '0.056539179629341706'],
       ['Mirqab', '0.483431328411588'],
       ['Nuzha', '0.22956427160504675'],
       ['Ali Sabah Al-Salem - Umm Al Hayman', '0.5751724986000417'],
       ['Shuwaikh Medical', '0.4382881685063935'],
       ['Mansouriya', '0.04597362978788977'],
       ['Ardhiya 4', '0.014663683098124158'],
       ['Ministries Zone', '0.5942601522766493'],
       ['Khairan', '0.99524865685618'],
       ['West Abu Fetera Small Indust', '0.07083318996637797'],
       ['Shuwaikh Industrial 1', '0.18205528614062236'],
       ['Ardiya Small Industrial', '0.35801040241227755'],
       ['Messila', '0.003514868537610452'],
       ['Shuwaikh Educational', '0.22388593602813991'],
       ['Shuwaikh Residential', '0.009281007106413698'],
       ['Shuwaikh Industrial 2', '0.38737037671523933'],
       ['Dhajeej', '0.853652703595847'],
       ['Airport', '0.29651596816940207'],
       ['Salhiya', '0.9778005802103186'],
       ['Dasman', '0.5648208063052287'],
       ['Shuaiba Port', '0.07147821483488835'],
       ['Shuwaikh Industrial 3', '0.10491492423567916'],
       ['Sabah Al Ahmad 1', '0.9502882615570688'],
       ['Sabah Al Ahmad 5', '0.20479135556466702'],
       ['Abu Hasaniya', '0.10164672304476284'],
       ['Mubarakiya Camps', '0.5813981359004823'],
       ['Ardiya Storage Zone', '0.04782449562290059'],
       ['Sabah Al Ahmad 4', '0.3004692290690783'],
       ['Sabah Al Ahmad 3', '0.7619296430479907'],
       ['Shuwaikh Administrative', '0.8261368234472747'],
       ['Sabah Al Ahmad 2', '0.707389371316737'],
       ['Al-Bedae', '0.0141367005462088'],
       ['Jahra - Kabd', '0.1120124790039491'],
       ['Jahra - Sulaibiya Industrial 2', '0.46294852266519126'],
       ['Wafra farms', '0.18993754566982368'],
       ['Jahra - Sulaibiya', '0.3250540496459806'],
       ['South Sabahiya', '0.07356923556653991'],
       ['Murouj', '0.27159493149310043'],
       ['Sabhan Industrial', '0.01507991232330377'],
       ['Jahra - Amgarah Industrial', '0.9215112797342142'],
       ['Magwa', '0.7547864051055942'],
       ['Kuwait Free Trade Zone', '0.21840752391752585'],
       ['Sabah Al Ahmad Marine City', '0.38926495782817494'],
       ['Kuwait City', '0.411407339048377'],
       ['South Wista', '0.1801006213481125'],
       ['Bnaider', '0.15079127618422672'],
       ['Zour', '0.9897516741506496'],
       ['Mina Abdullah', '0.6390163707245105'],
       ['Wista', '0.8242048756528643'],
       ['Jahra - Sulaibiya Industrial 1', '0.8921575042962397'],
       ["Al-Julaia'a", '0.5806253735021601'],
       ['Nuwaiseeb', '0.3921295035088611'],
       ['Wafra residential', '0.33053295386370446'],
       ['Sheikh Saad Al Abdullah Airport', '0.8361946226430189'],
       ['South Abdullah Al Mubarak', '0.3706563446315079'],
       ['Talabat Island', '0']], dtype='<U34')

In [19]:
df_results=pd.DataFrame(p_values,columns=['area','p_values'])

In [21]:
df_results.head(10)

                                area                p_values
0           Jahra - Saad Al Abdullah     0.09147221496832754
1                            Salmiya  3.2368420732502026e-06
2                     Sabah Al-Salem      0.3269653346273659
3                              Salwa  0.00045565477285427233
4                     Jaber Al Ahmad      0.6597710372131651
5  Abdullah Al-Mubarak - West Jeleeb  0.00011829424107916458
6                            Jabriya      0.9438365104867813
7                           Sabahiya      0.8137916330890145
8                            Ardhiya       0.878759475350681
9                            Hawally   3.526886095506677e-05

In [22]:
convert_dict = {'area':object,
                'p_values':float,
                }
df_results = df_results.astype(convert_dict)

In [23]:
df_results.head()

                       area  p_values
0  Jahra - Saad Al Abdullah  0.091472
1                   Salmiya  0.000003
2            Sabah Al-Salem  0.326965
3                     Salwa  0.000456
4            Jaber Al Ahmad  0.659771

In [70]:
#bonferroni's correction
df_results[df_results.select_dtypes(include=['number']).columns]*=5
df_results.head()

,area,Variation1,Variation2,Variation3,Variation4,Variation5
0,Jahra - Saad Al Abdullah,3.019436e-01,4.156211e-01,4.720292,0.012729,8.690435e-01
1,Salmiya,7.230401e-06,5.488949e-03,1.464952,1.488191,3.997295e-09
2,Sabah Al-Salem,9.286003e-10,8.611209e-07,0.002288,0.528827,1.190762e-01
3,Jaber Al Ahmad,3.811806e-01,1.772064e-02,0.049290,0.169643,3.687309e+00
4,Salwa,1.452394e-02,4.150246e-03,0.064208,0.350662,2.863110e-01

In [24]:
from pathlib import Path  
filepath = Path('./airflow_significance/chi2_values_ba_test.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
df_results.to_csv(filepath)  
#area.to_csv(index=True)